html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(203, 220, 255);
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
    flex: 1;
}

header {
    display: flex;
    border-bottom: 1px solid black;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
}

.actions {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.inbox, .outbox {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    cursor: pointer;
}

.container {
    border-left: 1px solid whitesmoke;
    width: 100%;
    height: 700px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.container > table {
    flex: 1;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.message .title {
    display: flex;
    align-items: center;
    width: 100%;
    width: 500px;
}

.message .date {
    width: 150px;
}

.message .from {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.title > .text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

th, td {
    text-align: left;
}

.mail {
    display: flex;
    flex-direction: column;
    display: none;
    height: 100%;
}

.mail div {
    padding: 5px 0;
}

.mail > .back {
    cursor: pointer;
}

.write-mail {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.write-mail input, .write-mail textarea {
    width: 100%;
    margin: 5px 0;
}

.write-mail textarea { 
    min-height: 450px;
}

.write-mail > div {
    width: 100%;
    padding: 5px;
}

.write-mail > button {
    min-width: 200px;
    margin-top: 20px;
}

.messages > .message {
    cursor: pointer;
}

#outbox_table {
    display: none;
}

#stop-btn {
    display: none;
}

#message {
    flex: 1;
}