<!DOCTYPE >
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="index.css" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
    </head>

    <body>
        <header>
            <div class="refresh icon" id="fetch-btn">
                <i class="material-icons">refresh</i>
                <span>Refresh</span>
            </div>
            <div class="stop icon" id="stop-btn">
                <i class="material-icons">stop</i>
                <span>Stop</span>
            </div>
            <div class="settings icon" id="creds-btn">
                <i class="material-icons">settings</i>
                <span>Settings</span>
            </div>
            <div class="create icon" id="write-mail-btn">
                <i class="material-icons">create</i>
                <span>Write new letter</span>
            </div>
        </header>
        <main>
            <nav class="actions">
                <div class="inbox">
                    <i class="material-icons">inbox</i>Inbox
                </div>
                <div class="outbox">
                    <i class="material-icons">drafts</i>Outbox
                </div>
            </nav>
            <article class="container" id="container">
                <table id="messages_table">
                    <thead>
                        <tr>
                            <th class="title">Name</th>
                            <th class="date">Date</th>
                            <th class="from">From</th>
                        </tr>
                    </thead>
                    <tbody id="inbox_messages" class="messages"></tbody>
                </table>
                <div class="mail">
                    <span class="material-icons back">keyboard_backspace</span>
                    <div id="title" class="title"></div>
                    <div id="time" class="time"></div>
                    <div id="sender" class="from"></div>
                    <iframe id="message" class="message"></iframe>
                </div>
                <form class="write-mail">
                    <div class="title">
                        <label for="title">Enter message title</label>
                        <input type="text" id="title" />
                    </div>
                    <div class="to">
                        <label for="reciever">Enter message reciever</label>
                        <input type="text" id="reciever" />
                    </div>
                    <div class="message">
                        <label for="message">Enter message body</label>
                        <textarea id="body"></textarea>
                    </div>
                    <button type="submit">Send</button>
                </form>
                <table id="outbox_table">
                    <thead>
                        <tr>
                            <th class="title">Name</th>
                            <th class="date">Date</th>
                            <th class="from">To</th>
                        </tr>
                    </thead>
                    <tbody id="outbox_messages" class="messages"></tbody>
                </table>
                </div>
            </article>
        </main>
        <script>
            require("./index.js");
        </script>
    </body>
</html>
