<!DOCTYPE >
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="credentials.css" />
    </head>

    <body>
        <div>
            <form class="credentials-form">
                <div class="credentials">
                    <section class="user">
                        <span>Email</span>
                        <input
                            type="text"
                            id="email"
                            placeholder="Email"
                        />
                        <input
                            type="password"
                            id="password"
                            placeholder="Password"
                        />
                    </section>
                    <section class="smtp">
                        <span>SMTP</span>
                        <input
                            type="text"
                            id="smtp-server"
                            placeholder="Server"
                        />
                        <input
                            type="number"
                            id="smtp-port"
                            placeholder="Port"
                        />
                        <div class="ssl">
                            SSL <input type="checkbox" id="smtp-ssl" checked />
                        </div>
                    </section>
                    <section class="pop">
                        <span>POP3</span>
                        <input
                            type="text"
                            id="pop-server"
                            placeholder="Server"
                        />
                        <input
                            type="number"
                            id="pop-port"
                            placeholder="Port"
                        />
                        <div class="ssl">
                            SSL <input type="checkbox" id="pop-ssl" checked />
                        </div>
                    </section>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
        <script>
            require("./credentials.js");
        </script>
    </body>
</html>
